.svg-container {
  position: relative;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  z-index: 99;
  left : 0;
  top : 0;
}

.overlay {
  position: absolute;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  z-index: 99999;
  left : 0;
  top : 0;
}

