.MapOverlay {
  position: static;
  height: 100%;
  border-radius: 12px;
  margin-top : -30px;

  .preview {
    position: relative;
    left: 0%;
    top:0%;
    width: 100vw;
    text-align: center;
    height: 100vw;
    margin: auto;
    opacity: 1;

  }

  .map {
    position: relative;
    z-index: 999;
    width: 100vw;
    height: 100vw;
    overflow: hidden;

    }
  }




